
<article class='post col-sm-6 col-md-4'>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h2><%= post.title %></h2>
       </div>

      <div class="panel-body">

          <% if post.picture.present? %>
            <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
          <% end %>

         <h4>Created by <%=User.find(post.user_id).email  %></h4>

        <section class='tags'>
          <% post.tags.each do |tag| %>
            <%= link_to tag.text, tag_path(tag) %>
          <% end %>
        </section>

          <% unless post.address.blank? %>
            <%= link_to 'Map', post_map_path(post), class: "btn btn-md btn-danger" %>
          <% end %>

          <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-md btn-danger" %>
      </div>
    </div>
</article>
